.DS_Store

# NPM
node_modules/

# Dev
dev/
dev_firefox/
dev_safari/

# Prod
dist/
dist_firefox/
dist_safari/
dist_store/
builds/
changelogs/
assets/shared

# Xcode
*.xcuserstate
*.xcuserdatad

.context
.cursorrules
.env
context/
__pycache__/
